@font-face {
  font-family: "Clear Sans";
  src: url(src/resources/fonts/ClearSans-Bold.ttf);
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(src/resources/fonts/Helvetica-Neue.ttf);
}

@keyframes tremble {
  0% {
    left: 0;
  }

  10% {
    left: -1%;
  }

  20% {
    left: 1%;
  }

  30% {
    left: -1%;
  }

  40% {
    left: 1%;
  }

  50% {
    left: -1%;
  }

  60% {
    left: 1%;
  }

  70% {
    left: -1%;
  }

  80% {
    left: 1%;
  }

  90% {
    left: -1%;
  }

  100% {
    left: 0;
  }
}

.not-valid-word {
  animation: tremble 0.5s;
}

@keyframes fade-out {
  0% {
    opacity: 100;
  }

  75% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 2s;
  animation-fill-mode: none;
}

@keyframes flip-green {
  0% {
    transform: rotateX(0deg);
    border-color: white;
  }

  50% {
    transform: rotateX(90deg);
    background-color: #191919;
    border-color: #545454;
  }

  50.01% {
    transform: rotateX(90deg);
    background-color: green;
    border-color: green;
  }

  100% {
    transform: rotateX(0deg);
    background-color: green;
    border-color: green;
  }
}

.flip-green {
  animation: flip-green 0.5s linear;
  animation-fill-mode: forwards;
}

@keyframes flip-yellow {
  0% {
    transform: rotateX(0deg);
    border-color: white;
  }

  50% {
    transform: rotateX(90deg);
    background-color: #191919;
    border-color: #545454;
  }

  50.01% {
    transform: rotateX(90deg);
    background-color: #b59f3b;
    border-color: #b59f3b;
  }

  100% {
    transform: rotateX(0deg);
    background-color: #b59f3b;
    border-color: #b59f3b;
  }
}

.flip-yellow {
  animation: flip-yellow 0.5s linear;
  animation-fill-mode: forwards;
}

@keyframes flip-grey {
  0% {
    transform: rotateX(0deg);
    border-color: white;
  }

  50% {
    transform: rotateX(90deg);
    background-color: #191919;
    border-color: #545454;
  }

  50.01% {
    transform: rotateX(90deg);
    background-color: #333333;
    border-color: #333333;
  }

  100% {
    transform: rotateX(0deg);
    background-color: #333333;
    border-color: #333333;
  }
}

.flip-grey {
  animation: flip-grey 0.5s linear;
  animation-fill-mode: forwards;
}

@keyframes win-animation {
  0% {
    top: 0;
    background-color: green;
    border-color: green;
    z-index: 1;
  }

  20% {
    top: -2rem;
  }

  40% {
    top: 1.5rem;
  }

  60% {
    top: -1rem;
  }

  80% {
    top: 0.5rem;
  }

  100% {
    top: 0;
    background-color: green;
    border-color: green;
    z-index: 1;
  }
}

.win-animation {
  animation: win-animation 0.5s;
  animation-fill-mode: forwards;
}

@keyframes put-letter {
  0% {
    border-color: #191919;
  }

  50% {
    border-color: #191919;
    box-shadow: 0 0 0 0.4vmin #191919, 0 0 0 0.4vmin white;
  }

  100% {
    border-color: white;
  }
}

.put-letter {
  animation: put-letter 0.1s;
  animation-fill-mode: forwards;
}

.green {
  background-color: green !important;
}

.yellow {
  background-color: #b59f3b;
}

.grey {
  background-color: #333333;
}

.white-border {
  border-color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  background: #191919;
  color: white;
  margin: 0;
  font-family: "Clear Sans", Arial, sans-serif;
}

header {
  width: 100%;
  height: 3.25rem;
  border-bottom: 1px solid #545454;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-div {
  text-align: center;
  width: 100%;
}

#logo {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

#message {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #545454;
  font-size: min(5vmin, 1.2rem);
  text-align: center;
  padding: min(2vmin, 0.8rem) min(3.5vmin, 1.5rem);
  border-radius: 0.6rem;
  z-index: 2;
  opacity: 0;
}

#game {
  height: calc(100% - 3.25rem);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
  width: 100%;
  height: 67.5vh;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

table {
  width: min(90vmin, 50vh);
  height: min(108vmin, 60vh);
  overflow: hidden;
  border-spacing: min(2vmin, 0.5rem);
  bottom: 0;
}

tr {
  position: relative;
}

td {
  position: relative;
  border: 0.4vmin solid #545454;
  height: 7vmin;
  width: 7vmin;
  text-align: center;
  font-size: 3.5vmin;
  text-transform: uppercase;
  padding: 0;
}

#keyboard {
  position: sticky;
  width: min(calc(100% - 0.5rem), 32rem);
  margin: 0.5rem;
  text-align: center;
  bottom: 0;
}

ul {
  padding: 0;
  margin: 0 0 0.4rem 0;
  width: 100%;
  display: flex;
  touch-action: manipulation;
}

li {
  list-style-type: none;
  margin: 0.1rem;
  padding: 0;
  background: #545454;
  border-radius: 1vmin;
  height: 3.7rem;
  text-transform: uppercase;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backspace-icon {
  pointer-events: none;
}

#enter {
  padding: 0 2.5%;
}

.statistics-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;

  background-color: #191919;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-family: "Clear Sans", Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 5vh 5vw;
  width: min(80vw, 30rem);
  height: auto;
}

.statistics-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 5;
}

.hidden {
  display: none;
}

#statistics-title {
  position: relative;
  font-size: 2rem;
  margin: 0 0 2vh 0;
}

#statistics {
  position: relative;
  display: flex;
  align-items: bottom;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
  margin: 0 0 4vh 0;
}

.statistics-container {
  float: left;
  /* width: 20%; */
  font-family: Arial, sans-serif;
  margin: 0 0.5rem;
}

.statistics-label {
  font-size: 0.8rem;
}

.statistics-played,
.statistics-win-percentage,
.statistics-current-streak,
.statistics-max-streak {
  font-size: 2rem;
}

#statistics-distribution {
  position: relative;
  top: 7%;
  font-size: 1.8rem;
  margin: 0 0 2vh 0;
}

#distribution-big-container {
  position: relative;
  top: 12%;
  width: 100%;
  height: 40%;
  font-family: Arial, sans-serif;
  margin: 0 0 2vh 0;
}

.distribution-container {
  width: 100%;
  height: 16.66%;
  display: flex;
  text-align: left;
  align-items: center;
  flex-grow: 1;
  margin: 0 0 1vmin 0;
}

.distribution-label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.distribution-count {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.2rem 0.7rem;
  text-align: right;
}

#play-again-container {
  position: relative;
  bottom: -15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 20%;
}

#play-again {
  background-color: green;
  padding: min(2rem, 10%);
  max-width: 12rem;
  max-height: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  border: 1px solid #545454;
  cursor: pointer;
}

#play-again-icon {
  width: 25%;
  height: 25%;
  float: left;
}

#play-again-label {
  font-family: "Clear Sans", Arial, sans-serif;
  font-size: 1.7rem;
  margin: 0 0 0 0.5rem;
}
